.header{
    display: flex;
    background: green;
    position: sticky;
    top: 0;
    left: 0;
    padding: 15px;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.header-title{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.header-users-count{
    margin-bottom: 0.5rem;
}