.message {
    display: flex;
    justify-content: space-between;
    width: 50%;
    background: white;
    padding: 0.5rem;
    border-radius: 10px;
    align-items: center;
    margin: 0.5rem;
}

.message-info{
    width: 25%;
    min-width: 25%;
}

.message-user-avatar img{
    max-width: 80%;
    border-radius: 30px;
}
.message-user-name{}

.message-desc{
    margin-right: 10px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message-text{
    word-break: break-all;
}
.message-time,.message-like{
    align-self: flex-end;
}
.message-like{
    cursor: pointer;
}
