.form{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background: #00d4ff;
}
.form input{
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}
.form button{
    width: 30%;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
}